.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
    button.social-login--google
        a(href=routes.gitHub)
            span
                i.fab.fa-google
    hr
.join-us
    button Join us