extends layouts/main

block content
    include ./partials/header
    .top
        .top__title BakeryEasy
        .top__text
            .top__text--1 장인도 도구를 탓한다!
            .top__text--2 사용 도구로 레시피 조회하기
    .main
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
        .cookers_row
            .cookers_cooker
                .cooker__icon 아이콘
                .div cooker name
    .recipes
        .recipes__title 지금 인기있는 레시피 바로보기
        .recipes__img 레시피 사진
    .topbtn 탑버튼


