extends layouts/main

block content
    .login-container1
        .home-icon 홈버튼
    .login-container2
        .title-img 이미지
    .form-container
        form(action=routes.login, method='post')
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type='submit', value='Log In')
    include partials/socialLogin
    include partials/footer